{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="contact-section">
    <h2>CONTACT US</h2>
    <h3>Get in Touch</h3>
    <p class="text-center">We’d love to hear from you! Please fill out the form below.</p>
    <div class="contact-fluid">

        <div class="contact-info">
            <h4>Send us a message 📧</h4>
            <p>Feel free to reach out through the contact form or find our contact details below. Your feedback is important to us as we strive to improve our services to our university community.</p>
            <p><strong>Email:</strong> techclub@gmail.com</p>
            <p><strong>Phone:</strong> +1 123-323-5356</p>
            <p><strong>Address:</strong> P.o. BOX 154 Nairobi, Kenya</p>
        </div>

        <div class="contact-form">
            <form action="#" method="POST">
                {% csrf_token %}
                <label for="name">Your name</label>
                <input type="text" id="name" name="name" placeholder="Enter your name" required>

                <label for="phone">Phone Number</label>
                <input type="text" id="phone" name="phone" placeholder="Enter your mobile number" required>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>

                <label for="message">Write your message here</label>
                <textarea id="message" name="message" placeholder="Enter your message" rows="5" required></textarea>

                <button type="submit" class="btn btn-primary">Send Message →</button>
            </form>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="/">Tech Club</a> -->

            <div class="collapse navbar-collapse" id="navbarNav">

            </div>
        </div>
    </nav>
</section>
{% endblock %}

